/*tipografia*/
.texto {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p{  
color: #6b0002;
  }
.fondo{
  background-color: rgb(13, 175, 197)}


/*fondo*/
body{
  background-image:URL(fotos/Fondo.jpeg);}


/*orden del contenido*/
main{
  display: flex;
  justify-content: space-between;
}
section{
  width: 70%
    
}
article{
  padding-left: 40px;
  background: rgba(40, 62, 202, 0.73)
}
    aside {
  width: 25%  
}
.Datos{
  background-color: rgba(40, 62, 202, 0.73)
}
.T3{
  background: #77dd77bf;
}


/*menu de navegacion*/
.Menu{
  display:inline-flex;
  width: 150px;
  height: 50px;
  background-color: #6b0002;
  border:5px solid gold;
  padding: 10px;
  margin: 5px;
}
nav{
  width: 70%;
  
}
nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

/*header*/
header{
   display: flex;
  justify-content: space-between;
  background: #8a056ef7;
  padding: 5px;
  border: 2px;
}
.Tprincipal{
  display: block
}
.img{
 width: 25%
}

/*pie de pagina*/
footer{
  width:100%;
 padding: 10px;
}
.pie{background-color: #6b0002}

